<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->
	<context:annotation-config />

	<context:component-scan base-package="com.joelin.rpc.spring" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<!--local service -->
	<bean id="accountServiceLocal" class="com.joelin.rpc.spring.AccountServiceImpl"></bean>

	<!-- rmi service -->
	<bean id="remoteRmiAccountService" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="AccountService"></property>
		<property name="service" ref="accountServiceLocal"></property>
		<property name="serviceInterface" value="com.joelin.rpc.spring.AccountService"></property>
		<property name="registryPort" value="1199"></property>
	</bean>

	<bean id="accountRmiClient" class="com.joelin.rpc.spring.rmi.AccountRmiClient">
		<property name="accountService" ref="accountRmiProxy"></property>
	</bean>

	<bean id="accountRmiProxy" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		depends-on="remoteRmiAccountService">
		<property name="serviceUrl" value="rmi://localhost:1199/AccountService"></property>
		<property name="serviceInterface" value="com.joelin.rpc.spring.AccountService"></property>
	</bean>
	<!-- rmi service end -->

	<!-- http invoker start -->
	<bean id="/AccountServicehttp"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="accountServiceLocal"></property>
		<property name="serviceInterface" value="com.joelin.rpc.spring.AccountService"></property>
	</bean>

	<bean id="httpInvokerProxy"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl"
			value="http://localhost:8080/spring-rpc-server/AccountServicehttp"></property>
		<property name="serviceInterface" value="com.joelin.rpc.spring.AccountService"></property>
	</bean>

	<bean id="httpInvokerClient" class="com.joelin.rpc.spring.httpinvoker.AccountHttpInvokerClient">
		<property name="accountService" ref="httpInvokerProxy"></property>
	</bean>
	<!-- http invoker end -->
</beans>
